extends layout

block content
  .post.show
    h1=post.title
    p.meta Posted in 
      a(href='/categories/show/#{post.category}') #{post.category} by #{post.author} on #{moment(post.date).format("DD MMM YYYY HH:MM")}
    if post.mainimage
      img(src='/images/uploads/#{post.mainimage}')
    p.post-body
      !=post.body
    br
    hr
    if post.comments
      h3 Comments
      each comment, i in post.comments
        .comment
          p.comment-name #{comment.name}
          p.comment-text #{comment.commentBody}
      br
    h3 Add Comment
    if errors
      ul.errors
        each error, i in errors
          li.alert.alert-danger #{error.msg}
    form.comment-form(method='post', action='/posts/addcomment')
      input(name='postid', type='hidden',value='#{post._id}')
      .form-group
        label Name
        input.form-control(type='text', name='name', value='#{name}') 
      .form-group
        label Email
        input.form-control(type='email', name='email', value='#{email}') 
      .form-group
        label Comment
        textarea.form-control(name='commentBody', id='body' ) #{commentBody} 
      br
      input.btn.btn-default(name='submit',type='submit',value='Add Comment')
